<div class="container mt-5">
  <div *ngIf="mensagemSucesso" class="alert alert-success mb-3" role="alert">
    {{mensagemSucesso}}
  </div>
  
  <h1>Pedidos</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Mesa</th>
        <th>Pizzas</th>
        <th>Status</th>
        <th>Alterar Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders">
        <tr *ngIf="order?.status !== 'Pronto'">
          <td>{{order.customer?.name}}</td>
          <td>{{order.customer?.table}}</td>
          <td>
            <ul>
              <li *ngFor="let pizza of order.pizzas">{{pizza?.name}}</li>
            </ul>
          </td>
          <td>{{order?.status}}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click)="alterarStatusPedido(order)">Atualizar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
